.game-alert {
    -fx-background-image: url("BackGround.jpg");
    -fx-background-size:cover;
}
.game-alert .header-panel {
   -fx-background-image: url("BackGround.jpg");
    -fx-background-size:cover;
}

.game-alert .header-panel .label {
    -fx-font-size: 18px; /* Font size */
    -fx-text-fill: black; /* Text color */
    -fx-alignment: center;
}

.game-alert .content {
    -fx-font-size: 14px; /* Content font size */
    -fx-alignment: center;
}
.game-alert .button{
   -fx-background-color:white;
   -fx-text-fill:black;
   -fx-border-color:black;
 }

.game-alert .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-border-color:orange; 
 }
 .game-alert .button:pressed {
    -fx-background-color: orange;
}
.game-alert .icon {
    -fx-background-color: transparent;
    -fx-opacity: 0;
}
