/* Define style for all buttons in the VBox */
.button-container > .button {
    -fx-padding: 5;
}

/* Hover effect */
.button-container > .button:hover {
    -fx-border-color: orange;
}

/* Pressed effect */
.button-container > .button:pressed {
    -fx-background-color: orange;
}

/* Reset style after mouse release */
.button-container > .button:armed {
    -fx-background-color: white;
    -fx-border-color: black;
}