.menu-button{
	-fx-background-color:transparent;
}
.menu-button .arrow-button .arrow {
    -fx-opacity: 0; /* Hide the arrow icon */
}

.menu-button .menu-item:hover{
    -fx-background: orange ;
    -fx-text-fill: white;
}
.menu-button .menu-item{
    -fx-background: orange ;
    -fx-text-fill: white;
}